@import "tailwindcss";
@source "../demo/**/*.html";

@theme {
  --font-serif: 'Inria Serif', serif;
  --font-display: 'Playfair Display', serif;
  --font-urbanist: 'Urbanist', sans-serif;

  --color-brand-primary: #001C19;
  --color-brand-green: #0F3F3A;
  --color-brand-light-green: #0F3F3A1A;
  --color-brand-dark: #212121;
  --color-brand-green-dark: #0A2F2B;
}

@layer base {
  a, button, [role="button"], input[type="button"], input[type="submit"], input[type="reset"], label, select, .product-card {
    cursor: pointer;
  }
}
